.preloader {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #100f0f;
	z-index: 100000000;
}
.preloader:before {
	position: absolute;
	font-size: 12em;
	font-weight: 900;
	text-transform: uppercase;
	color: rgba(255,255,255,.03);
}
.preloader.active {
    content: 'Loading...';

	transform: translateY(-100vh);
	transition: ease-in-out 2s;
	transition-delay: 1s;
}
.counter {
	position: relative;
	color: #dc0f0f;
	font-size: 16em;
	font-weight: 700;
	z-index: 1;
}
.counter:after{
	content: '%';
	font-size: 0.5em;
}

.desplazar-imagen:hover {
    animation: desplazarImagen 5s infinite;
    -webkit-animation: desplazarImagen 5s infinite;
}

@keyframes desplazarImagen {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@-webkit-keyframes desplazarImagen {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

#cargador {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin: 20px 30px; /* Espaciado opcional */
    overflow: hidden;
    background-color: #1A2031;
}

.sprite-container {
    position: relative;
    width: 200px; /* Ajustar el tamaño según sea necesario */
    height: 200px; /* Ajustar el tamaño según sea necesario */
    overflow: hidden;
    background-color: #1A2031;
}

.sprite-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: mostrarSprite 5s infinite; /* Duración total de la animación para los treinta frames */
}

/* Animación para mostrar cada imagen */
@keyframes mostrarSprite {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% { opacity: 0.2; }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% { opacity: 1; }
}

.sprite-container img:nth-child(1) { animation-delay: 0s; }
.sprite-container img:nth-child(2) { animation-delay: 0.5s; }
.sprite-container img:nth-child(3) { animation-delay: 1s; }

/* Animación para mover el sprite en el eje x */
@keyframes moverSprite {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100vw); } /* Mueve el sprite a través de la pantalla completa */
}

.sprite-container {
    animation: moverSprite 5s linear;
}
